/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/admin/Dashboard.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.Dashboard_container__HNTEm {
    max-width: 1000px;
}

.Dashboard_header__UyO55 {
    margin-bottom: 2rem;
}

.Dashboard_header__UyO55 h1 {
    font-size: 1.8rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.Dashboard_header__UyO55 p {
    color: var(--muted-foreground);
}

.Dashboard_grid__porlf {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.5rem;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.Dashboard_card__W2Gn1 {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Dashboard_cardIcon__hLDDu {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background: #f1f5f9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Dashboard_cardLabel__qahhP {
    font-size: 0.9rem;
    color: var(--muted-foreground);
    margin-bottom: 0.2rem;
}

.Dashboard_cardValue__9REHB {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--foreground);
}

.Dashboard_recentSection__yXdX_ {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    border: 1px solid var(--border);
}

.Dashboard_recentSection__yXdX_ h2 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: var(--primary);
}

.Dashboard_recentList__6i6Zr {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Dashboard_recentItem__rMLfv {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border);
}

.Dashboard_recentItem__rMLfv:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.Dashboard_dot__b_za3 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--accent);
}

.Dashboard_recentItem__rMLfv p {
    font-size: 0.95rem;
    flex: 1 1;
}

.Dashboard_time__aCXjc {
    font-size: 0.85rem;
    color: var(--muted-foreground);
}
